.g-head {
	padding: 30px 50px 40px;
	color: #fff;
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: space-between;
}
h1, h2 {
	font-size: 50px;
}
h2 {
	font-size: 25px;
	margin-top: 40px;
}
.otherInfo {
	text-align: right;
	align-self: flex-end;
}
.h-link {
	display: block;
	color: #fff;
	font-size: 16px;
}
.otherInfo li {
	margin: 7px;
	font-size: 16px;
}
.otherInfo li:last-child {
	margin-bottom: 0;
}
.h-icon {
	width: 16px;
	margin-left: 10px;
	position: relative;
	top: 3px;
}